<span class="label pull-right" [ngSwitch]="device.StatusId" [statusId]="device.StatusId" hwInfDeviceStatus>
        {{device.Status}}
</span>
<a routerLink="/devices/id/{{device.DeviceId}}"><strong>{{device.Name}}</strong></a>
<br>
Inventarnummer: {{device.InvNum}}
<br>
Verwalter: {{device.Owner}}
<br>
<ul class="text-muted list-inline">
    <li *ngFor='let attr of device.DeviceMetaData | keys, let i = index'>
        {{attr.key}}:&nbsp;{{attr.value}}
    </li>
</ul>

<button [disabled]="device.StatusId === 2" (click)="onAddToCartClick(device)" class="btn btn-default btn-xs"><i class="fa fa-plus-circle" aria-hidden="true"></i>
  Auf die Liste</button>
