<button class="btn btn-default btn-lg" routerLink="/devices">devices</button>
<button class="btn btn-default btn-lg" routerLink="/orders">orders</button>
<button class="btn btn-default btn-lg" routerLink="/admin">admin</button>

<ul>
    <li *ngFor="let device of test | async">
        {{device.Name}}
    </li>
</ul>
<h3>Incoming</h3>
<ul>
  <li *ngFor="let order of incomingOrders | async">
    {{order.OrderId}} {{order.OrderItems}}
    <br>
    Verwalter: {{order.Owner}} - Ausleiher: {{order.Person}}
    <span class="label label-default">{{order.Status}}</span>
  </li>
</ul>

<h3>Outgoing</h3>
<ul>
  <li *ngFor="let order of outgoingOrders | async">
    {{order.OrderId}} {{order.OrderItems}}
    <br>
    Verwalter: {{order.Owner}} - Ausleiher: {{order.Person}}
    <span class="label label-default">{{order.Status}}</span>
  </li>
</ul>
