<div (click)="hide()" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ng-content select=".app-modal-header"></ng-content>
      </div>
      <div class="modal-body">
        <span [ngSwitch]="modalText">
          <span *ngSwitchCase="null">
            <ng-content select=".app-modal-body"></ng-content>
          </span>
          <span *ngSwitchDefault [innerHtml]="modalText"></span>
        </span>

      </div>
      <div class="modal-footer">
        <ng-content select=".app-modal-footer"></ng-content>
      </div>
    </div>
  </div>
</div>
