<div class="x_panel">
  <div class="x_title">
    <h2>Gruppe erstellen</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <br>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-11" htmlFor="groupname">
            Gruppen-Name
        </label>
        <div class="col-md-6 col-sm-6 col-xs-11">
          <input type="text" name="groupname" id="groupname" required="required" class="form-control col-md-7 col-xs-12" ngModel>
        </div>
      </div>

     

        <div ngModelGroup="Fields">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" htmlFor="field-0">
                    Feld
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" id="field-0" name="field-0" required="required" class="form-control col-md-7 col-xs-12" ngModel>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" *ngFor="let field of fields; let i = index">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" htmlFor="field-{{i+1}}">
                    Feld
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="field-input">
                                <input type="text" id="field-{{i+1}}" name="field-{{i+1}}" required="required" class="form-control col-md-7 col-xs-12" ngModel>
                                <a class="btn btn-danger btn-rm-row" (click)="onDeleteRow(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          <button type="button" class="btn btn-default" (click)="onAddRow()">Eigenschaft hinzufügen</button>
        </div>
      </div>

      <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          <button type="submit" class="btn btn-success">Erstellen</button>
        </div>
      </div>

    </form>
  </div>
</div>