<h1>Geräte verwalten</h1>

<div class="text-center">
  <pagination [directionLinks]="false" [boundaryLinks]="true" [totalItems]="totalItems"
              [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)"
              lastText="Letzte" firstText="Erste" [maxSize]="maxSize" [rotate]="false">
  </pagination>
</div>


<div class="x_panel">
  <div class="x_title">
    <select style="display: inline; width: auto;" class="form-control" (change)="onDeviceTypeChange($event.target.value)">
      <option value="">Alle Typen</option>
      <option *ngFor="let dt of deviceTypes" value="{{dt.Slug}}">{{dt.Name}}</option>
    </select>
    <div class="pull-right">
      {{totalItems}} Geräte
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
          <th class="th-status">Status</th> <!-- TODO: order by status-->
          <th [ngClass]="{active: this.orderBy.match('invnum') }"
              (click)="onChangeOrder('invnum')"
              title="Nach Inventarnummer sortieren">
            InvNum
            <i *ngIf="!isAscending" class="fa fa-sort-amount-desc" aria-hidden="true"></i>
            <i *ngIf="isAscending" class="fa fa-sort-amount-asc" aria-hidden="true"></i>
          </th>
          <th class="th-name"
              [ngClass]="{active: this.orderBy.match('name') }"
              (click)="onChangeOrder('name')"
              title="Nach Name sortieren">
            Name
            <i *ngIf="!isAscending" class="fa fa-sort-amount-desc" aria-hidden="true"></i>
            <i *ngIf="isAscending" class="fa fa-sort-amount-asc" aria-hidden="true"></i>
          </th>
          <th [ngClass]="{active: this.orderBy.match('type') }"
              (click)="onChangeOrder('type')"
              title="Nach Typ sortieren">
            Typ
            <i *ngIf="!isAscending" class="fa fa-sort-amount-desc" aria-hidden="true"></i>
            <i *ngIf="isAscending" class="fa fa-sort-amount-asc" aria-hidden="true"></i>
          </th>
          <th [ngClass]="{active: this.orderBy.match('createdate') }"
              (click)="onChangeOrder('createdate')"
              title="Nach Erstellungsdatum sortieren">
            Erstellt am
            <i *ngIf="!isAscending" class="fa fa-sort-amount-desc" aria-hidden="true"></i>
            <i *ngIf="isAscending" class="fa fa-sort-amount-asc" aria-hidden="true"></i>
          </th>
          <th [ngClass]="{active: this.orderBy.match('person') }"
              (click)="onChangeOrder('person')"
              title="Nach Verwalter sortieren">
            Verwalter
            <i *ngIf="!isAscending" class="fa fa-sort-amount-desc" aria-hidden="true"></i>
            <i *ngIf="isAscending" class="fa fa-sort-amount-asc" aria-hidden="true"></i>
          </th>
          <th>Aktion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let device of devices; let i = index">
          <td><div class="label-device-status" hwinfDeviceStatusLabelClass [deviceStatus]="device.Status">{{device.Status.Description}}</div></td>
          <td>{{device.InvNum}}</td>
          <th scope="row" ><a [routerLink]="['/admin/geraete/verwalten/', device.InvNum]">{{device.Name}}</a></th>
          <td>{{device.DeviceType.Name}}</td>
          <td>{{device.CreateDate}}</td>
          <td title="({{device.Verwalter.Uid}}) {{device.Verwalter.Name}} {{device.Verwalter.LastName}}">{{device.Verwalter.Name}} {{device.Verwalter.LastName}}</td>
          <td>
            <a routerLink="/admin/geraete/verwalten/{{device.InvNum}}/" title="Gerät bearbeiten" class="btn btn-warning btn-sm" aria-label="Bearbeiten"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a [routerLink]="['/admin/geraete/erstellen/', device.InvNum]" title="Gerät duplizieren" class="btn btn-info btn-sm" aria-label="Duplizieren"><i class="fa fa-files-o" aria-hidden="true"></i></a>
            <a [routerLink]="['/admin/schaden/geraet/', device.InvNum]" title="Geräteschäden verwalten" class="btn btn-warning btn-sm" aria-label="Schäden"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>

            <hwinf-confirm-button (action)="onDelete(device.DeviceId, i)" popOverTitle="Wirklich löschen?">
              <button title="Gerät löschen" class="btn btn-danger btn-sm" aria-label="Löschen">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </hwinf-confirm-button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <div class="ln_solid"></div>
    <div class="pull-right">
      {{totalItems}} Geräte
    </div>
  </div>
</div>

<div class="text-center">
  <pagination [directionLinks]="false" [boundaryLinks]="true" [totalItems]="totalItems"
              [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage"
              lastText="Letzte" firstText="Erste" [maxSize]="maxSize" [rotate]="false">
  </pagination>
</div>

