.field-select {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btn-rm-row {
  margin: 0 0 0 10px;
}

.name-row {
  &:hover { cursor: pointer; }
  display: flex;
  justify-content: space-between;
}
