<h1>Neues Gerät hinzufügen</h1>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label htmlFor="Name">Bezeichnung:</label>
    <input
      type="text"
      class="form-control"
      id="Name"
      name="Name"
      placeholder="Name"
      ngModel
      required
      autocomplete="nope"
      autofocus>
  </div>
  <div class="form-group">
    <label htmlFor="InvNum">Inventarnummer:</label>
    <input
      type="text"
      class="form-control"
      id="InvNum"
      name="InvNum"
      placeholder="Inventarnummer"
      ngModel
      autocomplete="nope">
  </div>
  <div class="form-group">
    <label htmlFor="TypeId">Typ:</label>
    <select
      class="form-control"
      id="TypeId"
      name="TypeId"
      [(ngModel)]="selectedType"
      #item
      (change)="onSelectedTypeChange(item.value)"
      ngModel>
      <option value="{{i+1}}" *ngFor="let type of deviceTypes; let i = index;">{{type}}</option>
    </select>
  </div>

  <div class="form-group">
    <label htmlFor="Marke">Marke:</label>
    <input type="text" class="form-control" id="Marke" name="Marke" placeholder="Marke" ngModel required autocomplete="nope">
  </div>
  <div ngModelGroup="DeviceMetaData">
    <div class="form-group" *ngFor="let component of deviceComponents | async">
      <div *ngIf="component.component.toLowerCase() !== 'marke'">
        <label htmlFor="{{component.component}}">{{component.component}}</label>
        <input
          type="text"
          class="form-control"
          id="{{component.component}}"
          name="{{component.component}}"
          placeholder="{{component.component}}"
          ngModel
          autocomplete="nope">
      </div>
    </div>
  </div>
  <input type="hidden" name="StatusId" value="1" ngModel>
  <div class="text-right">
    <button class="btn btn-primary " type="submit">Gerät hinzufügen</button>
  </div>
  <hw-inf-modal #confirmModal>
    <div class="hw-inf-modal-header">
      Gerät hinzufügen
    </div>
    <div class="hw-inf-modal-body">
      Sind Sie sicher, dass Sie dieses Gerät hinzufügen wollen?
    </div>
    <div class="hw-inf-modal-footer">
      <button type="button" class="btn btn-default btn-sm" (click)="confirmModal.hide()">Abbrechen</button>
      <button type="submit" class="btn btn-primary btn-sm" (click)="addDevice(f)" autofocus>Hinzufügen</button>
    </div>
  </hw-inf-modal>
</form>



