@import "../../assets/stylesheets/partials/all";

#login-form {
  @include absolute(top 40% left 50%);
  @include transform(translate(-50%, -50%));
  width: 90%;
  max-width: 400px;
}

#tw-logo {
  height: 3em;
  width: auto;
}