<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <hwinf-panel>
    <div class="hwinf-panel__heading">
      Hw-Inf
    </div>
    <div class="hwinf-panel__content">
        <h1> Willkommen bei Hw-Inf </h1>  
    </div>
  </hwinf-panel>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <hwinf-panel>
        <div class="hwinf-panel__heading">
            Meine Geräte
        </div>
        <div class="hwinf-panel__content">
            <hwinf-dashboard-order-list></hwinf-dashboard-order-list>
        </div>

    </hwinf-panel>
</div>


