################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HwInf/bin
/HwInf/obj/Debug
/HwInf.Notifier/bin
/HwInf.Notifier/obj
/HwInf/wwwroot/out-tsc
/HwInf/wwwroot
/HwInf.Angular/bin
/HwInf.Web/node_modules
/HwInf.Angular/obj/*
/HwInf.Angular/.idea/
/HwInf.Common/bin/*
/HwInf.UnitTests/bin/*
/HwInf.DataAccess/bin/*
/HwInf/obj/Debug
/packages
/typings
/HwInf/obj/
/HwInf.Common/obj/
/HwInf.UnitTests/obj/
/HwInf.DataAccess/obj/
/HwInf/dist
*/bin/*
*/obj/
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp


# compiled output
/HwInf/Client/dist
/HwInf/Client/tmp
/HwInf.Web/build_output
/HwInf.Web/dist

# dependencies
/HwInf/Client/node_modules
/HwInf/Client/bower_components

# IDEs and editors
/HwInf/Client/.idea
/HwInf/Client/.vscode
/HwInf/Client.project
/HwInf/Client.classpath
/HwInf/Client*.launch
/HwInf/Client.settings/

# misc
/HwInf/Client/.sass-cache
/HwInf/Client/connect.lock
/HwInf/Client/coverage/*
/HwInf/Client/libpeerconnection.log
/HwInf/Client/npm-debug.log
/HwInf/Client/testem.log
/HwInf/Client/typings

# e2e
/HwInf/Client/e2e/*.js
/HwInf/Client/e2e/*.map

#System Files
/HwInf/Client/.DS_Store
/HwInf/ClientThumbs.db

# app data
/HwInf/App_Data/

# tests

/HwInf.Tests/bin/
/HwInf.Tests/obj/
