<form [formGroup]="form" (ngSubmit)="onSubmit(form)" id="demo-form2" class="form-horizontal form-label-left">

    <div class="form-group">
        <label for="beschreibung">
            Beschreibung:
        </label>
        <textarea  id="typename" required="required" class="form-control" formControlName="Description"></textarea>
    </div>

    <div class="form-group" *ngIf="showDate">
        <label>
            Gemeldet am:
        </label>
        <div class="field-select">
            <input type="text" class="form-control" formControlName="Date">
        </div>
    </div>
    
    <div class="form-group" formGroupName="Cause">
        <label>
            Verursacher:
        </label>
        <div class="field-select">
            <input type="text" class="form-control" formControlName="Uid">
        </div>
    </div>

    <div class="form-group" formGroupName="Reporter">
        <label>
            Melder:
        </label>
        <div class="field-select">
            <input type="text" class="form-control" formControlName="Uid" >
        </div>
    </div>

    <div class="form-group" formGroupName="Device">
        <label>
            Geräteinventarnummer:
        </label>
        <div class="field-select">
            <input type="text" class="form-control" formControlName="InvNum">
        </div>
    </div>

    <div class="form-group" formGroupName="DamageStatus">
        <label>
            DamageStatus:
        </label>
        <div class="field-select">
            <select class="select2_group form-control" name="value1" id="damage" formControlName="Slug">
                <option *ngFor="let damageStatus of damageStati" value="{{damageStatus.Slug}}">
                    {{damageStatus.Name}}
                </option>
            </select>
        </div>
    </div>

    <div class="ln_solid"></div>

    <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!form.valid">{{submitButtonName}}</button>
    </div>

</form>