<div class="x_panel">
  <div class="x_title">
    <h2>Zubehör auswählen</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">


      <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-3" *ngFor="let device of devicesWithoutInvNum; let i = index">
                  <label>
                      <input type="checkbox" name="value" (change)="onChange($event, i)" [value]="device.DeviceId">
                      {{device.Name}} ({{device.Stock}} verfügbar)
                      <input min="1" max="{{device.Stock}}" (change)="updateQuantity($event, device.DeviceId)" type="number" value="1">
                  </label>
          </div>
      </div>



  </div>
</div>

<nav style="display: flex; justify-content: space-between">
  <a (click)="onBack()" class="btn btn-default">Zurück zu den Details</a>
    <div>
        <button (click)="onContinue()" type="submit" class="btn btn-success">Weiter</button>
    </div>
  
</nav>