<form [formGroup]="form" (ngSubmit)="onSubmit(form)" id="demo-form2" class="form-horizontal form-label-left">

    <div class="form-group">
        <label for="typename">
            Gerätetypen Name
        </label>
        <input type="text" id="typename" required="required" class="form-control" formControlName="Name">
    </div>

    <div id="meta_fields" formArrayName="FieldGroups">
        <div class="form-group" *ngFor="let field of form.controls.FieldGroups.controls; let i = index;">
            <label>
                FieldGroup {{i+1}}
            </label>
           
            <div class="form-group" [formGroupName]="i">
                <div class="field-select">


                    <select id="fieldgroups" class="form-control" formControlName="Slug">
                        <option *ngFor="let group of allgroups; let x = index;" [ngValue]="group.Slug">
                            {{group.Name}}
                        </option>
                    </select>
                  
                    <a class="btn btn-danger btn-rm-row" (click)="removeFieldGroup(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-default" (click)="addFieldGroup()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Feldgruppe hinzufügen
        </button>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!form.valid">{{submitButtonName}}</button>
    </div>
</form>