* {
  text-align: center;
}

.thumbnail {
  margin-bottom: 10px;
/*  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);*/
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  text-align: left;
  font-size: 0.9em;
}

li {
  padding-right: 0;

  &:not(:last-child):after {
    content: ',';
    margin-left: -2px;
  }
}