<div class="thumbnail">
  <div class="caption">
    <h4>{{device.getName()}}</h4>
    <p class="text-muted">
      {{device.getInvNum()}}<br>
      {{device.getType()}}
    </p>
    <ul class="list-unstyled">
      <li *ngFor='let attr of device.getAttributes() | keys, let i = index'>
        <div *ngIf="i<1" class="truncate">
         {{attr.key}}: {{attr.value}}
        </div>
      </li>
    </ul>
    <p><a class="btn btn-success" role="button">Ausleihen</a> <a class="btn btn-primary" role="button">Details</a></p>
  </div>
</div>
