<div class="row gutter-10">

    <alert type="info" dismissible="true">
        <strong>Info!</strong> Eine Feldgruppe definiert eine Komponente eines Geräts. <br />
        Der <strong>Display</strong> eines <strong>PCs</strong> wäre die <strong>Feldgruppe Display</strong>. <br />
        <strong>Abzählbar</strong> definiert, ob diese Komponente öfters als einmal am Gerät vorhanden sein kann. <br />
        Bsp: Ein Laptop hat <strong>genau einen Display</strong> aber vielleicht <strong>mehrere USB-Anschlüsse</strong>.
    </alert>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <hwinf-device-custom-fields-fieldgroups-add (fieldGroupsListUpdated)="pushData($event)"></hwinf-device-custom-fields-fieldgroups-add>
    </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
      <hwinf-device-custom-fields-fieldgroups-list></hwinf-device-custom-fields-fieldgroups-list>
  </div>

</div>

