<div class="page-title">
  <div class="title_left">
    <h3>Gerät hinzufügen</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
    </div>
  </div>
</div>

<div class="clearfix"></div>

<form [formGroup]="form" (ngSubmit)="onSubmit(form)">

  <div class="row">

    <div class="col-xs-12 col-md-2 col-md-push-10">
      <div class="x_panel">
        <div class="form-group">
          <label htmlFor="Status">
            Status
          </label>
          <select id="Status" name="Status" class="form-control">
            <option value="1" selected>Verfügbar</option>
            <option value="2">Entwurf</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success">Erstellen</button>
      </div>
    </div>


    <div class="col-xs-12 col-md-10 col-md-pull-2">
      <div class="x_panel">

        <div class="x_title">
          <h2>Geräte Details</h2>
          <div class="clearfix"></div>
        </div>


        <div class="form-group">
          <label htmlFor="name">
            Name
          </label>
          <input id="Name" name="Name" class="form-control" type="text" formControlName="Name">
        </div>


        <div class="form-group">
          <label htmlFor="InvNum">
            Inventarnummer
          </label>
          <input id="InvNum" name="InvNum" class="form-control" type="text" formControlName="InvNum">
        </div>

        <div formArrayName="AdditionalInvNums">
          <div class="form-group" *ngFor="let invNum of form.controls.AdditionalInvNums.controls; let i = index">
            <div [formGroupName]="i">

              <div class="input-group">
                <input id="InvNum-{{i}}" name="InvNum-{{i}}" class="form-control" type="text" formControlName="InvNum">

                <span class="input-group-btn">
                      <button type="button" class="btn btn-danger" (click)="removeInvNum(i)" style="margin-right: 0"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </span>
              </div>

            </div>
          </div>
        </div>

        <button class="btn btn-default btn-xs" type="button" (click)="addInvNum()">Inventarnummer hinzufügen</button>

        <div class="form-group">
          <label htmlFor="Marke">
            Marke
          </label>
          <input id="Marke" name="Marke" class="form-control" type="text" formControlName="Marke">
        </div>


        <div class="form-group">
          <label htmlFor="Raum">
            Raum
          </label>
          <input id="Raum" name="Raum" class="form-control" type="text" formControlName="Raum">
        </div>



        <div class="form-group" formGroupName="Person">
          <label htmlFor="Person">
            Verwalter
          </label>
          <input id="Person" name="Person" class="form-control" type="text" formControlName="Uid">
        </div>

        <div class="form-group" formGroupName="DeviceType">
          <label for="type">
            Typ
          </label>
          <select id="type" class="form-control"  (ngModelChange)="onSelectedTypeChange($event)" formControlName="Slug">
            <option *ngFor="let deviceType of deviceTypes | async; let i = index" [selected]="i == 0"  [ngValue]="deviceType.Slug">
              {{deviceType.Name}}
            </option>
          </select>
        </div>


      </div>


      <div class="form-group" formArrayName="FieldGroups">
        <div class="x_panel"  *ngFor="let fieldGroup of form.controls.FieldGroups.controls; let i = index">
          <div class="x_title">
            <h2>{{fieldGroups[i].Name}}</h2>
            <div class="clearfix"></div>
          </div>

          <div [formGroupName]="i">
            <input type="hidden" ngModel="{{fieldGroups[i].Slug}}"  formControlName="Slug">
            <div formArrayName="Fields">
              <div *ngFor="let field of fieldGroup.controls.Fields.controls; let j = index">
                <div class="form-group" [formGroupName]="j">

                  <div class="row">
                    <div class="col-xs-2 col-md-1" style="padding-right: 0">
                      <input min="1" class="form-control" type="number" formControlName="Quantity">
                    </div>
                    <div class="col-xs-10 col-md-11">
                      <div class="input-group">
                        <input class="form-control" auto-complete [source]="fieldGroups[i].Fields | fieldsToArrayPipe" type="text" formControlName="Name">
                        <span class="input-group-btn">
                      <button type="button" class="btn btn-danger" (click)="removeField(i,j)" style="margin-right: 0"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <button class="btn btn-default" type="button" (click)="addField(i)">Feld hinzufügen</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>
