<div class="page-title">
  <div class="title_left">
    <h3>Gerät hinzufügen</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
    </div>
  </div>
</div>

<div class="x_panel">
  <div class="x_content">
    <br>
    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">

      <div id="inv_nums">

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-11" for="first-name">Inventarnummer <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-11">
            <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
          </div>
        </div>

      </div>
      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          <button type="button" class="btn btn-default" onclick="add_fields()">Weitere Inventarnummer hinzufügen</button>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-11" for="first-name">Geräte Name <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-11">
          <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
        </div>
      </div>


      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-11" for="first-name">Raum<span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-11">
          <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
        </div>
      </div>


      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-11" for="value1">Verwalter <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select class="select2_group form-control" name="value1" id="value1" ngmodel="">
            <option value="text">
              Valentin Sagl
            </option>
            <option value="checkbox">
              Jan Calanog
            </option>
            <option value="textarea">
              Sebastian Slowak
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-11" for="value1">Geräte Status <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select class="select2_group form-control" name="value1" id="value1" ngmodel="">
            <option value="text">
              Verfügbar
            </option>
            <option value="checkbox">
              Ausgeliehen
            </option>
            <option value="textarea">
              In Reparatur
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-11" for="value1">Geräte Typ <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select class="select2_group form-control" name="value1" [(ngModel)]="selectedType" (ngModelChange)="onSelectedTypeChange()">

            <option *ngFor="let deviceType of deviceTypes | async; let i = index" [selected]="i == 0"  [ngValue]="deviceType.Slug">
              {{deviceType.Name}}
            </option>

          </select>
        </div>
      </div>


      <div class="ln_solid"></div>

      <div *ngFor="let fieldGroup of fieldGroups | async">
        <h4>{{fieldGroup.Name }}</h4>
          <div class="ln_solid"></div>

        <div class="form-group">
          <div class="col-xs-12 col-sm-9 col-sm-offset-3">
            <input class="form-control" auto-complete  [source]="fieldGroup.Fields | fieldsToArrayPipe" />
          </div>
        </div>


      </div>


      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-11" for="first-name">MetaDaten<span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-11">
          <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
        </div>
      </div>


      <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          <button type="submit" class="btn btn-success">Erstellen</button>
        </div>
      </div>

    </form>
  </div>
</div>