<div class="x_panel">
    <div class="x_title">
        <h2>Neuen Gerätetyp erstellen</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="grayout">
            Eine Gerätetyp definiert das Gerät mit allen dazugehörigen Feldgruppen.
            Der PC ist ein Gerätetyp mit mehreren Feldgruppen.
            Die einzelnen Feldgruppen können in dem Menüpunkt "Eigene Felder" genauer definiert werden.
            Nach der Fertigstellung eines Gerätetyps können nun unter "Geräte hinzufügen" neue Geräte dieses Typs hinzugefügt werden.
        </div>
        <hwinf-device-types-edit-form (deviceTypesListUpdated)="onSave($event)" submitButtonName="Erstellen"></hwinf-device-types-edit-form>
    </div>
</div>