<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)" (change)="onSubmit(form, $event)">
  <div formArrayName="FieldGroup">
    <div *ngFor="let fieldGroup of fieldGroups; let i = index" [formGroupName]="i">
      <div class="x_panel">
        <div class="x_title">
          {{fieldGroup.Name}}
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link" (click)="onCollapse(i)">
                <i *ngIf="!isCollapsedArr[i]" class="fa fa-chevron-up"></i>
                <i *ngIf="isCollapsedArr[i]" class="fa fa-chevron-down"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content" [(collapse)]="isCollapsedArr[i]" formArrayName="MetaQuery">
          <div class="checkbox" *ngFor="let field of fieldGroup.Fields;let j = index;" [formGroupName]="j">
            <input type="checkbox" id="{{fieldGroup.Slug}}-{{j}}" name="{{field.Slug}}" formControlName="isChecked">
            <label htmlFor="{{fieldGroup.Slug}}-{{j}}">
            {{field.Name}}
            </label>
            <input type="hidden" formControlName="FieldGroupSlug" value="{{fieldGroup.Slug}}" ngModel="{{fieldGroup.Slug}}">
            <input type="hidden" formControlName="FieldSlug" value="{{field.Slug}}" ngModel="{{field.Slug}}">
            <input min="1" value="1" formControlName="Value" ngModel="1" [type]="fieldGroup.IsCountable?  'number':'hidden'">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>