

.panel_toolbox {
  min-width: 0;
}

.checkbox {
  border-bottom: 1px dotted rgba(#000, 0.2);
  display: flex;
  justify-content: space-between;

  input[type=checkbox] {
    margin-left: 0;
  }
}

input[type="checkbox"]:not(:checked) ~ input[type="number"] {
  visibility: hidden;
}

input[type="number"] {
  border: none;
  text-align: right;
  padding-right: 5px;
  width: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { margin-left: 10px;  opacity: 1;}