/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "assets/stylesheets/vendor/_gentelella";
@import "assets/stylesheets/partials/_mixins.scss";

html, body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  min-height: 100%;
}
.container.body,
.main_container,
.right_col,
body,
html {
  height: 100%;
}

.dropdown {
  &.active,
  &.current_parent_menu_item {
    @extend .active;
    .nav.child_menu {
      display: block;
    }
  }
}
