<div class="row">

    <alert type="info" dismissible="true">
        <strong>Info!</strong> Eine Gerätetyp definiert das Gerät mit allen dazugehörigen <strong>Feldgruppen</strong>. <br />
        Der <strong>PC</strong> ist ein <strong>Gerätetyp</strong> mit mehreren Feldgruppen.<br />
        Die einzelnen <strong>Feldgruppen</strong> können in dem Menüpunkt "Eigene Felder" genauer definiert werden. <br />
        Nach der Fertigstellung eines Gerätetyps können nun unter "Geräte hinzufügen" neue Geräte dieses Typs hinzugefügt werden. 
    </alert>

  <div class="col-md-6 col-sm-6 col-xs-12">
    
    <hwinf-device-types-add (deviceTypesListUpdated)="pushData($event)"></hwinf-device-types-add>
  </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <hwinf-device-types-list></hwinf-device-types-list>

    </div>
</div>

