

<hwinf-panel>
    <ul class="list-unstyled">
        <li *ngFor="let type of deviceTypes | async">
            <!--<button class="btn btn-default btn-xs full-width" routerLinkActive="active" routerLink="/devices/type/{{type | lowercase}}">{{type}}</button> -->
        </li>
    </ul>
    <div class="hidden-xs">
        <div class="panel panel-default" *ngFor="let component of components">
            <!-- Default panel contents -->
            <div class="panel-heading truncate" hwInfPanelCollapse>
                <div class="pull-right">
                    <i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
                </div>
                {{component.component}}
            </div>
            <!-- List group -->
            <div class="panel-collapse">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let value of (component.values); let i = index;">
                        <div>
                            <span class="pull-left">
                                <input type="checkbox"
                                       id="filter-checkbox-{{component.component | lowercase}}-{{i}}"
                                       name="{{value | lowercase}}" value="{{component.component | lowercase}}"
                                       (change)="updateCheckedList($event)" />
                            </span>
                            <label htmlFor="filter-checkbox-{{component.component | lowercase}}-{{i}}" class="text-muted full-width">{{value}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</hwinf-panel>
