<div class="page-title">
    <div class="title_left">
        <h1>Geräte</h1>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">




        <div class="col-md-10">

            <hwinf-panel>
                <div class="hwinf-panel__heading">
                    <span *ngIf="currentType!=null">{{currentType | uppercase}}</span>
                    <span *ngIf="currentType==null">Alle</span>

                </div>
                <div class="hwinf-panel__content">
                    <accordion [closeOthers]=false class="accordion">
                        <div *ngFor="let device of devices">

                            <accordion-group>
                                <div accordion-heading>
                                   <strong>{{device.Name}} </strong>
                                    <div class="text-muted pull-right" style="font-size: 0.8em">Inventarnummer: {{device.InvNum}}</div>
                                </div>
                                <div id="{{device.InvNum}}" class="panel-collapse" role="tabpanel" attr.aria-labelledby="headingTwo" attr.aria-expanded="true">

                                    <div *ngFor="let fieldGroup of device.FieldGroups">
                                        {{fieldGroup.Name}}
                                        <div *ngFor="let metaData of getMetaDataOfFieldGroup(fieldGroup.Slug, device.DeviceMeta)">
                                            {{metaData.Value}}x {{metaData.Field}}
                                        </div>
                                    </div>


                                    <button class="btn btn-success btn-xs" (click)="addItem(device)">
                                        Zum Warenkorb hinzufügen
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </accordion-group>

                        </div>
                    </accordion>
                </div>
            </hwinf-panel>

        </div>

        <div>



        </div>





        <!-- edit -->
    </div>
</div>
