<div class="col-md-12 col-sm-12 col-xs-12">
   
            <div id="step-1">
                <div class="col-md-12">
                    
                    <accordion [closeOthers]=false class="accordion">
                        <div *ngFor="let device of devices; let i = index">
                            
                                        <accordion-group>
                                            <div accordion-heading>
                                                <strong>{{device.Name}} </strong>
                                                <div class="text-muted pull-right" style="font-size: 0.8em">Inventarnummer: {{device.InvNum}}</div>
                                            </div>
                                            <div id="{{device.InvNum}}" class="panel-collapse" role="tabpanel" attr.aria-labelledby="headingTwo" attr.aria-expanded="true">
                                                <div *ngFor="let meta of device.DeviceMeta">
                                                    {{meta.Value}}x {{meta.Field}}
                                                </div>
                                                <div *ngFor="let fieldGroup of device.FieldGroups">
                                                    {{fieldGroup.Name}}
                                                    <div *ngFor="let metaData of getMetaDataOfFieldGroup(fieldGroup.Slug, device.DeviceMeta)">
                                                        {{metaData.Value}}x {{metaData.Field}}
                                                    </div>
                                                </div>

                                                <button class="btn btn-success btn-xs" (click)="addItem(device)">
                                                    Zum Warenkorb hinzufügen
                                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </accordion-group>
                            </div>
                    </accordion>
                    <div class="weiter-zurueck-btns">
                        <button class="btn btn-warning" routerLink="/anfrage/schritt-1">Zurück</button>
                        <div>
                        <button class="btn btn-default" (click)="showContract()">Vertragsbedingungen anschauen...</button>
                        <button class="btn btn-success" routerLink="/anfrage/schritt-3">Weiter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
