<div *ngIf="orders.length <= 0"><em>Keine Aufträge vorhanden!</em></div>
<pagination [directionLinks]="false" [boundaryLinks]="true" [totalItems]="totalItems"
            [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)"
            lastText="Letzte" firstText="Erste" [maxSize]="maxSize" [rotate]="false">
</pagination>
<div *ngIf="maxPages > 1" class="text-right">Seite {{currentPage}}/{{maxPages}}</div>
<hwinf-admin-single-order *ngFor="let order of orders; let i = index" (updateOrder)="updateOrder(i, $event)" [order]="order"></hwinf-admin-single-order>
<div *ngIf="maxPages > 1" class="text-right">Seite {{currentPage}}/{{maxPages}}</div>
<pagination [directionLinks]="false" [boundaryLinks]="true" [totalItems]="totalItems"
            [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)"
            lastText="Letzte" firstText="Erste" [maxSize]="maxSize" [rotate]="false">
</pagination>