<div *ngIf="orders.length <= 0"><em>Keine Aufträge vorhanden!</em></div>
<div *ngIf="orders.length > 0">

    <div class="text-center">
        <pagination [directionLinks]="false" [boundaryLinks]="true" [totalItems]="totalItems"
                    [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage"
                    lastText="Letzte" firstText="Erste" [maxSize]="maxSize" [rotate]="false">
        </pagination>
    </div>

    <span style="float:right">
        <select style="display: inline; width: auto;" class="form-control" (change)="onChangeOrder($event.target.value)">
            <option value="" hidden>Sortieren</option>
            <option value='{"by":"date","o":"ASC"}'>Datum</option>
            <option value='{"by":"date","o":"DESC"}'>Datum, desc</option>
            <option value='{"by":"entleiher","o":"ASC"}'>Entleiher</option>
            <option value='{"by":"entleiher","o":"DESC"}'>Entleiher, desc</option>
        </select>
    </span>
    <hwinf-admin-single-order *ngFor="let order of orders; let i = index" (updateOrder)="updateOrder(i, $event)" [order]="order"></hwinf-admin-single-order>

    <div class="text-center">
        <pagination [directionLinks]="false" [boundaryLinks]="true" [totalItems]="totalItems"
                    [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)"
                    lastText="Letzte" firstText="Erste" [maxSize]="maxSize" [rotate]="false">
        </pagination>
    </div>
</div>