<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="x_panel">
    <div class="x_title">
      <h2>Details</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <label htmlFor="daterangeInput">Entleihungszeitspanne</label>
            <input type="text"
                   id="daterangeInput"
                   name="daterangeInput"
                   daterangepicker
                   [options]="options"
                   (applyDaterangepicker)="onApplyDate($event)"
                   class="form-control"
                   [ngModel]="dateRangeString"
                   placeholder="Bitte Anfangs- und Enddatum angeben..."
                   autocomplete="off"
                   required />
          </div>

          <div class="form-group">
            <label htmlFor="name">Vor- und Nachname</label>
            <input type="text" value="{{user?.Name}} {{user?.LastName}}" name="name"  class="form-control" disabled/>
          </div>

          <div class="form-group">
            <label htmlFor="daterangeInput">E-Mail</label>
            <input type="text" value="{{user?.Email}}" name="daterangeInput"  class="form-control" disabled/>
          </div>


          <div class="form-group">
            <label htmlFor="tel">Telefonnummer</label>
            <input type="text" name="tel" id="tel"  class="form-control" [(ngModel)]="user.Tel" (change)="onNumberChange()" placeholder="Bitte Telefonnummer angeben..." required/>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <label htmlFor="grund">
            Entleihungsgrund
          </label>
          <textarea id="grund" name="grund" class="form-control" rows="12" [(ngModel)]="order.OrderReason" placeholder="Erläutere kurz warum du diese(s) Gerät(e) ausleihen willst..." required></textarea>
        </div>
      </div>

    </div>
  </div>

  <nav style="display: flex; justify-content: space-between">
    <a routerLink="/warenkorb" class="btn btn-warning">Zurück zum Warenkorb</a>
    <button type="submit" class="btn btn-success">Weiter zum nächsten Schritt</button>
  </nav>
</form>