<div class="x_panel">
  <div class="x_title">
    <h2>Neue Feldgruppe erstellen</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
      <div class="grayout" >
          Eine Feldgruppe definiert eine Komponente eines Geräts. 
          Der Display eines PCs wäre die Feldgruppe Display. Abzählbar definiert, ob diese Komponente öfters als einmal am Gerät vorhanden sein kann. <br />
          Bsp: Ein Laptop hat genau einen Display aber vielleicht mehrere USB-Anschlüsse.
      </div>

    <hwinf-device-custom-fields-fieldgroups-form #f (fieldGroupsListUpdated)="addFieldGroup($event, f)" submitButtonName="Erstellen"></hwinf-device-custom-fields-fieldgroups-form>
  </div>
</div>