<div class="x_panel">
  <div class="x_title">
    <h2>Feldgruppe erstellen</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
      <alert type="info" dismissible="true">
          <strong>Heads Up!</strong> Hier werden Feldgruppen ERSTELLT!
      </alert>
    <br>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)" id="demo-form2" class="form-horizontal form-label-left">




      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-11" for="typename">
          Feldgruppen Name
        </label>
        <div class="col-md-6 col-sm-6 col-xs-11">
          <input type="text" id="typename" required="required" class="form-control col-md-7 col-xs-12" formControlName="Name">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-11" for="countable">
          Abzählbar
        </label>
        <div class="col-md-6 col-sm-6 col-xs-11">
          <input type="checkbox" id="countable" formControlName="IsCountable">
        </div>
      </div>


      <div id="meta_fields" formArrayName="Fields">
        <div class="form-group" *ngFor="let field of form.controls.Fields.controls; let i = index;">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">
            Feld
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row" >


              <div class="col-xs-12">

                <div class="form-group" [formGroupName]="i">

                  <div class="field-select" >
                    <input type="text" class="form-control" formControlName="Name">
                    <a class="btn btn-danger btn-rm-row" (click)="removeField(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                  </div>

                </div>
              </div>


            </div>
          </div>
        </div>

      </div>


      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          <button type="button" class="btn btn-default" (click)="addField()">Feld hinzufügen</button>
        </div>
      </div>

      <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          <button type="submit" class="btn btn-success" [disabled]="!form.valid">Erstellen</button>
        </div>
      </div>

    </form>
  </div>
</div>