<div class="page-title">
    

</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Warenkorb</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <!-- Smart Wizard -->
                            <div id="wizard" class="form_wizard wizard_horizontal">
                                <ul class="wizard_steps">
                                    <li>
                                        <a routerLink="/schritt-1">
                                            <span class="step_no">1</span>
                                            <span class="step_descr">
                                                Geräte Überprüfen<br />
                                                <small><p>Liste der Geräte bearbeiten</p></small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="">
                                            <span class="step_no">2</span>
                                            <span class="step_descr">
                                                Überprüfung<br />
                                                <small>Daten überprüfen</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-3">
                                            <span class="step_no">3</span>
                                            <span class="step_descr">
                                                Bestätigung<br />
                                                <small>Ausborgen bestätigt</small>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                
                                <!--<router-outlet>

                                </router-outlet>-->
                                
                            </div>
                            <!-- End SmartWizard Content -->
                            <!-- End SmartWizard Content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- edit -->
    </div>
</div>
