<div class="page-title">
    

</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Warenkorb</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                                <div class="col-md-12">
                                    <accordion [closeOthers]=false class="accordion">
                                        <div *ngFor="let device of devices; let i = index">
                                            <div class="col-md-12">
                                                <accordion-group>
                                                    <div accordion-heading>
                                                        <strong>{{device.Name}} </strong>
                                                        <div class="text-muted pull-right" style="font-size: 0.8em">Inventarnummer: {{device.InvNum}}</div>
                                                    </div>
                                                    <div id="{{device.InvNum}}" class="panel-collapse" role="tabpanel" attr.aria-labelledby="headingTwo" attr.aria-expanded="true">
                                                        <div class="responsive-list">
                                                            <div>
                                                                <strong>Marke:</strong>
                                                                <div>{{device.Marke}}</div>
                                                            </div>
                                                            <div *ngFor="let fieldGroup of device.FieldGroups">
                                                                <strong>{{fieldGroup.Name}}</strong>
                                                                <div *ngFor="let metaData of getMetaDataOfFieldGroup(fieldGroup.Slug, device.DeviceMeta)">
                                                                    <span *ngIf="(fieldGroup.IsCountable) && (metaData.Value > 1)">{{metaData.Value}}&times; </span>
                                                                    {{metaData.Field}}
                                                                    <span *ngIf="(!fieldGroup.IsCountable) || (metaData.Value == 1)"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </accordion-group>
                                            </div>
                                        </div>
                                    </accordion>
                                    <div class="row"></div>
                                    <div align="right">
                                        <button [disabled]="devices.length<1" class="btn btn-success" routerLink="/anfrage">Bestellen</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- edit -->
    </div>
</div>
