<!-- Smart Wizard -->
<div id="wizard" class="form_wizard wizard_horizontal">
    <ul class="wizard_steps">
        <li>
            <a [ngClass]="getClass(1)" >
                <span class="step_no">1</span>
                <span class="step_descr">
                    Zeitspanne<br />
                    <small>Persönliches</small>
                </span>
            </a>
        </li>
        <li>
            <a [ngClass]="getClass(2)">
                <span class="step_no">2</span>
                <span class="step_descr">
                    Geräte<br />
                    <small>Aufgelistet</small>
                </span>
            </a>
        </li>
        <li>
            <a [ngClass]="getClass(3)">
                <span class="step_no">3</span>
                <span class="step_descr">
                    Bestätigung<br />
                    <small>Fertig!</small>
                </span>
            </a>
        </li>
        

    </ul>

    <router-outlet>

    </router-outlet>
        
        <!--<router-outlet>

        </router-outlet>-->

</div>
<!-- End SmartWizard Content -->
<!-- End SmartWizard Content -->