<!-- Smart Wizard -->
<div id="wizard" class="form_wizard wizard_horizontal">
    <ul class="wizard_steps">
        <li>
            <a routerLink="schritt-1">
                <span class="step_no">1</span>
                <span class="step_descr">
                    Zeitraum und Persönliches<br />
                    <small>Datum auswählen, Daten überprüfen</small>
                </span>
            </a>
        </li>
        <li>
            <a routerLink="schritt-2">
                <span class="step_no">2</span>
                <span class="step_descr">
                    Bestätigung<br />
                    <small>Ausborgen bestätigt</small>
                </span>
            </a>
        </li>
    </ul>

    <router-outlet>

    </router-outlet>
        
        <!--<router-outlet>

        </router-outlet>-->

</div>
<!-- End SmartWizard Content -->
<!-- End SmartWizard Content -->