<div class="x_panel">
  <div class="x_title">
    <span hwinfOrderStatusLabelClass [orderStatus]="order.OrderStatus">{{order.OrderStatus.Name}}</span>
    <span style="float:right">ID: {{order.OrderId}}</span>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">

    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
          <th>Verwalter</th>
          <th>Geräte</th>
          <th>Dauer</th>
          <th>Grund</th>
          <th>Anfragedatum</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <a href="mailto:{{order.Verwalter.Email}}">
              {{order.Verwalter.Name}} {{order.Verwalter.LastName}}
            </a>
          </td>
          <td>

            <ul class="list-group">
              <li class="list-group-item" *ngFor="let orderItem of order.OrderItems; let i = index" [ngClass]="{'declined-order-item': orderItem.IsDeclined}">
                <!--
                <span style="display: inline-block; width: 100px; margin-right: 5px;" class="label label-danger" *ngIf="orderItem.IsDeclined">Abgelehnt</span>
                <span style="display: inline-block; width: 100px; margin-right: 5px;" class="label label-warning" *ngIf="order.OrderStatus.Slug.match('offen')">Offen</span>
                <span style="display: inline-block; width: 100px; margin-right: 5px;" class="label label-success" *ngIf="(!orderItem.IsDeclined) && (!order.OrderStatus.Slug.match('offen'))">Akzeptiert</span>
                -->
                <span class="device-name">({{orderItem.Device.InvNum}}) {{orderItem.Device.Name}} </span>
              </li>
            </ul>
          </td>
          <td>
            <dl>
              <dt>Von:</dt>
              <dd>{{order.From | date:'dd. MMMM yyyy'}}</dd>
              <dt>Bis:</dt>
              <dd>{{order.To | date:'dd. MMMM yyyy'}}</dd>
            </dl>
          </td>
          <td>{{order.OrderReason}}</td>
          <td>
            {{order.Date | date: 'dd. MMMM yyyy'}}
          </td>
        </tr>
        </tbody>
      </table>
        <div class="pull-left">
            <hwinf-confirm-button *ngIf="order.OrderStatus.Slug === 'offen'"
                                  (action)="onAbort()"
                                  popOverTitle="Antrag wirklich abbrechen?">
                <button  [title]="Abbrechen" class="btn btn-danger btn-xs">
                    Antrag abbrechen
                </button>
            </hwinf-confirm-button>
        </div>

        </div>
  </div>
</div>
