@import "../../assets/stylesheets/partials/all";
.overlay {
  @include fixed(top 0 left 0);
  width: 100%;
  height: 100%;
  background-color: #2a3f54;
  z-index: 999999999999999;
}

#login-form {
  @include absolute(top 40% left 50%);
  @include transform(translate(-50%, -80%));
  width: 90%;
  max-width: 400px;
}

#tw-logo {
  height: 3em;
  width: auto;
}