<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a routerLink="/" class="site_title"><span>hw-inf.technikum-wien.at</span></a>
    </div>
    <div class="clearfix"></div>
    <br />
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li routerLinkActive="active"  >
            <a routerLink="/dashboard"><i class="fa fa-home"></i> Dashboard</a>
          </li>
          <li dropdown [ngClass]="{current_parent_menu_item: router.url.match('^(?!.*admin).*/geraete.*$') }"><a dropdownToggle><i class="fa fa-desktop" aria-hidden="true"></i> Geräte <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li routerLinkActive="current_menu_item" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/geraete">Alle</a></li>
              <li routerLinkActive="current_menu_item" *ngFor="let deviceType of deviceTypes | async">
                <a routerLink="/geraete/typ/{{deviceType.Slug }}">{{deviceType.Name}}</a>
              </li>
            </ul>
          </li>
          <li [ngClass]="{current_parent_menu_item: router.url.match('.*/meine-geraete.*') }" dropdown><a dropdownToggle><i class="fa fa-file-text-o"></i> Entliehen <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li routerLinkActive="current_menu_item" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/meine-geraete/">Alle</a></li>
              <li routerLinkActive="current_menu_item" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/meine-geraete/archiv">Archiv</a></li>

            </ul>
          </li>
        </ul>
      </div> 
      <div class="menu_section" *ngIf="canActivate()">
        <h3>Administration</h3>
        <ul class="nav side-menu">
          <li [ngClass]="{current_parent_menu_item: router.url.match('(.*admin\/geraete.*)') }" dropdown><a dropdownToggle><i class="fa fa-desktop" aria-hidden="true"></i> Geräteverwaltung <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li routerLinkActive="current_menu_item" [routerLinkActiveOptions]="{exact:false}"><a routerLink="/admin/geraete/verwalten">Geräte verwalten</a></li>
              <li routerLinkActive="current_menu_item" [routerLinkActiveOptions]="{exact:false}"><a routerLink="/admin/geraete/erstellen">Geräte hinzufügen</a></li>
              <li routerLinkActive="current_menu_item" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/admin/geraete/typen">Gerätetypen</a></li>
              <li routerLinkActive="current_menu_item" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/admin/geraete/felder">Eigene Felder</a></li>
            </ul>
          </li>
          <li [ngClass]="{current_parent_menu_item: router.url.match('(.*admin\/orders.*)') }" dropdown><a dropdownToggle><i class="fa fa-edit"></i> Aufträge <span class="label label-warning" *ngIf="newDevicesCount > 0">{{newDevicesCount}}</span><span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li *ngIf="canActivateSettings()" routerLinkActive="current_menu_item"><a routerLink="/admin/orders/myorders" [queryParams]="{}">Meine offenen Anfragen </a></li>
              <li routerLinkActive="current_menu_item"><a routerLink="/admin/orders/status/offen" [queryParams]="{}">Offene Anfragen</a></li>
              <li routerLinkActive="current_menu_item"><a routerLink="/admin/orders/status/akzeptiert" [queryParams]="{}">Akzeptierte Anfragen</a></li>
              <li routerLinkActive="current_menu_item"><a routerLink="/admin/orders/status/ausgeliehen" [queryParams]="{}">Verliehene Geräte</a></li>
              <li routerLinkActive="current_menu_item"><a routerLink="/admin/orders/status/archiv" [queryParams]="{}">Archiv</a></li>
            </ul>
          </li>
            <li >
                <a routerLink="/admin/schaden"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Schäden</a>
                <!--<ul class="nav child_menu">
                    <li routerLinkActive="current_menu_item" [routerLinkActiveOptions]="{exact:false}"><a routerLink="/admin/schaden/verwalten" [queryParams]="{}">Schadensliste</a></li>
                    <li routerLinkActive="current_menu_item" [routerLinkActiveOptions]="{exact:false}"><a routerLink="/admin/schaden/add" [queryParams]="{}">Schaden melden</a></li>
                </ul>-->
            </li>

          <li [ngClass]="{current_parent_menu_item: router.url.match('(.*admin\/settings.*)') }"  dropdown *ngIf="canActivateSettings()"><a dropdownToggle><i class="fa fa-cog" aria-hidden="true"></i> Settings <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li routerLinkActive="current_menu_item" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/admin/settings">Settings</a></li>
              <li routerLinkActive="current_menu_item" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/admin/settings/logs">Logs</a></li>
              <li routerLinkActive="current_menu_item" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/admin/settings/edit-admin">Rollen bearbeiten</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->

  </div>
</div>