<h3>Outgoing</h3>
<ul>
  <li *ngFor="let order of outgoingOrders | async">
    {{order.OrderId}} {{order.OrderItems}}
    <br>
    Verwalter: {{order.Owner}} - Ausleiher: {{order.Person}}
    <span class="label label-default">{{order.Status}}</span>
  </li>
</ul>

<h3>Incoming</h3>
<ul>
  <li *ngFor="let order of incomingOrders | async">
    {{order.OrderId}} {{order.OrderItems}}
    <br>
    Verwalter: {{order.Owner}} - Ausleiher: {{order.Person}}
    <span class="label label-default">{{order.Status}}</span>
    <br>
    <button (click)="onAcceptOrder(order.OrderId)" class="btn btn-success btn-sm">Akzeptieren</button>
    <button (click)="onDeclineOrder(order.OrderId)" class="btn btn-danger btn-sm">Ablehnen</button>
  </li>
</ul>
