
<ng-template #popTemplate>
  <div class="popover-body" (clickOutside)="pop.hide()">
  <button class="btn btn-success btn-sm" (click)="onAction()"><i class="fa fa-check" aria-hidden="true"></i></button>
  <button class="btn btn-danger btn-sm" (click)="onDismiss()"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
</ng-template>


<a type="button"
          [popover]="popTemplate"
          [popoverTitle]="title"
          #pop="bs-popover"
          triggers="click"
          >
  <ng-content select="button"></ng-content>
</a>
