<div class="clearfix"></div>
<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>
<div class="x_panel">
  <div class="row gutter-10">
    <div class="col-md-6 col-sm-6 col-xs-12">

      <hwinf-device-accessory-add (accessoriesUpdated)="onAdd($event)"></hwinf-device-accessory-add>

      <!--<hwinf-device-custom-fields-fieldgroups-add (fieldGroupsListUpdated)="pushData($event)"></hwinf-device-custom-fields-fieldgroups-add>-->
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <hwinf-device-accessory-list></hwinf-device-accessory-list>
    </div>

  </div>

