<div class="x_panel">
    <div class="x_title">
        <h2>Admins und Verwalter</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <div class="table-responsive">
            <table id="datatable" class="table table-striped bulk_action table-bordered">
                <thead>
                <tr class="headings">
                    <th class="column-title">Name</th>
                    <th class="column-title">Aktuelle Rolle</th>
                    <th style="width: 170px" class="column-title">Neue Rolle</th>
                </tr>
                </thead>

                <tbody>
                <tr class="pointer" *ngFor="let user of users; let i = index;">
                    <td >
                        {{user.Name}} {{user.LastName}} ({{user.Uid}})
                    </td>
                    <td>{{user.Role}}</td>
                    <td>
                        <button *ngIf="user.Role !== 'Admin'" class="btn btn-default" (click)="addadmin(i)">Admin</button>
                        <button *ngIf="user.Role !== 'Verwalter'" class="btn btn-default" (click)="removeadmin(i, 'Verwalter')">Verwalter</button>
                        <button class="btn btn-default" (click)="removeadmin(i, 'User')">User</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>