<h1>Settings</h1>
<div class="x_panel">
    <div class="x_title">
        <h2>Settings</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form class="form-horizontal form-label-left" (ngSubmit)="update(f)" #f="ngForm">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="optionsSS">
                    SS <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" name="parent">
                    <input type="text" name="daterangeInput" id="optionsSS" daterangepicker [options]="optionsSS" (selected)="selectedSSDate($event)" class="form-control col-md-7 col-xs-12" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="optionsWS">
                    WS <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" name="parent">
                    <input type="text" name="daterangeInput" id="optionsWS" daterangepicker [options]="optionsWS" (selected)="selectedWSDate($event)" class="form-control col-md-7 col-xs-12" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bla">
                    Textblabla <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="bla" ngControl="notification.Value" [(ngModel)]="notification.Value" name="mail_value" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                </label>
            </div>
            <div align="right">
                <span class="btn btn-success" (click)="updateSettings()">test</span>
            </div>
            <div align="right">
                <button type="submit" class="btn btn-success" [disabled]="f.$invalid">Weiter</button>
            </div>
        </form>
        <div class="ln_solid"></div>
    </div>
</div>
