<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Geräte Details</h2>
                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                        <label>
                            Login Als:
                        </label>
                        <input class="form-control" auto-complete [(ngModel)]="selectedString" [source]="stringForDic" type="text"/>
                        
                        <button (click)="impersonate()" type="submit" class="btn btn-success" [disabled]="isValid()">"Anmelden"</button>
                </div>
                </div>
            </div>
        </div>
    </div>
