<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Geräte Details</h2>
                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                        <label>
                            Login Als:
                        </label>
                        <select #selectedUser (change)="onChange($event.target.value)">
                            <option *ngFor="let user of users" value="{{user.Uid}}">
                                ({{user.Uid}}) {{user.LastName}} {{user.Name}}
                            </option>
                        </select>
                        
                        <button (click)="impersonate()" type="submit" class="btn btn-success">"Anmelden"</button>
                </div>
                </div>
            </div>
        </div>
    </div>
