<div class="x_panel">
  <div class="x_title">
    <span style="float:right" hwinfOrderStatusLabelClass [orderStatus]="order.OrderStatus">{{order.OrderStatus.Name}}</span> ID: {{order.OrderId}}
    <div class="clearfix"></div>
  </div>
  <div class="x_content">

    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
          <th>Entleiher</th>
          <th>Geräte</th>
          <th>Dauer</th>
          <th>Grund</th>
          <th>Anfragedatum</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <a href="mailto:{{order.Entleiher.Email}}">
              {{order.Entleiher.Name}} {{order.Entleiher.LastName}} ({{order.Entleiher.Uid}})
            </a>
          </td>
          <td>

            <ul class="list-group">
              <li style="cursor:pointer" (click)="orderItem.IsDeclined = !orderItem.IsDeclined"  class="list-group-item" *ngFor="let orderItem of order.OrderItems; let i = index" [ngClass]="{'declined-order-item': orderItem.IsDeclined}">
                <button *ngIf="order.OrderStatus.Slug === 'offen'" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span *ngIf="!orderItem.IsDeclined" aria-hidden="true">&times;</span>
                  <span *ngIf="orderItem.IsDeclined" aria-hidden="true">&#43;</span>
                </button>
                <div style="width:85%">
                <span style="display: inline-block; width: 100px; margin-right: 5px;" hwinfDeviceStatusLabelClass [deviceStatus]="orderItem.Device.Status">{{orderItem.Device.Status.Description}}</span>
                  <span class="device-name">({{orderItem.Device.InvNum}}) {{orderItem.Device.Name}} </span>
                </div>
              </li>
            </ul>
          </td>
          <td>
            <dl>
              <dt>Von:</dt>
              <dd>{{order.From | date:'dd. MMMM yyyy'}}</dd>
              <dt>Bis:</dt>
              <dd>{{order.To | date:'dd. MMMM yyyy'}}</dd>
            </dl>
          </td>
          <td>{{order.OrderReason}}</td>
          <td>
            {{order.Date | date: 'dd. MMMM yyyy'}}
          </td>
        </tr>
        </tbody>
      </table>

      <div class="action text-right">

      <hwinf-confirm-button *ngIf="order.OrderStatus.Slug === 'offen'"
                            (action)="onAccept()"
                            popOverTitle="Antrag akzeptieren?"
      >
        <button [disabled]="!canAccept()" [title]="(canAccept()) ? 'Antrag akzeptieren' : 'Der Antrag kann nicht ohne Geräte akzeptiert werden.'" class="btn btn-success btn-xs">
          Antrag akzeptieren
        </button>
      </hwinf-confirm-button>
      <hwinf-confirm-button *ngIf="order.OrderStatus.Slug === 'akzeptiert'"
                            (action)="onLend()"
                            [popOverTitle]="'Geräte übergeben?'">
        <button [title]="'Geräte übergeben'" class="btn btn-info btn-xs">
          Geräte übergeben
        </button>
      </hwinf-confirm-button>

      <hwinf-confirm-button *ngIf="order.OrderStatus.Slug === 'offen'"
                            (action)="onDecline()"
                            popOverTitle="Antrag ablehnen?">
        <button title="Antrag ablehnen" class="btn btn-danger btn-xs">
          Antrag ablehnen
        </button>
      </hwinf-confirm-button>

      <hwinf-confirm-button *ngIf="order.OrderStatus.Slug === 'ausgeliehen'"
                            (action)="onReturn()"
                            popOverTitle="Ausleihung beenden?">
        <button title="Ausleihung beenden" class="btn btn-success btn-xs">
          Ausleihung beenden
        </button>
      </hwinf-confirm-button>
      <a href="/print/{{order.OrderGuid}}" target="_blank" title="Vertrag drucken" class="btn btn-default btn-xs">
        <i class="fa fa-print" aria-hidden="true"></i>
      </a>
      <a href="mailto:{{order.Entleiher.Email}}" class="btn btn-default btn-xs"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    </div>
    </div>
  </div>
</div>
