<div class="x_panel">
  <div class="x_title">

    <div class="pull-left">
      <span hwinfOrderStatusLabelClass [orderStatus]="order.OrderStatus">{{order.OrderStatus.Name}}</span>
      <span>ID: {{order.OrderId}}</span>
    </div>






    <div class="clearfix"></div>
  </div>
  <div class="x_content">

    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
          <th>Entleiher</th>
          <th>Geräte</th>
          <th>Dauer</th>
          <th>Grund</th>
          <th>Anfragedatum</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <a href="mailto:{{order.Entleiher.Email}}">
              {{order.Entleiher.Name}} {{order.Entleiher.LastName}} ({{order.Entleiher.Uid}})
            </a>
          </td>
          <td>

            <ul class="list-group">
              <li [ngStyle]="{'cursor': (order.OrderStatus.Slug === 'offen') ? 'pointer' : 'default'}" (click)="(order.OrderStatus.Slug === 'offen') && (orderItem.IsDeclined = !orderItem.IsDeclined)" class="list-group-item" *ngFor="let orderItem of order.OrderItems; let i = index" [ngClass]="{'declined-order-item': orderItem.IsDeclined}">
                <button type="button" class="close btn btn-warning" [routerLink]="['/admin/schaden/geraet/', orderItem.Device.InvNum]">
                    <span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                </button>
                <button  *ngIf="order.OrderStatus.Slug === 'offen'" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span *ngIf="!orderItem.IsDeclined" aria-hidden="true">&times;</span>
                  <span *ngIf="orderItem.IsDeclined" aria-hidden="true">&#43;</span>
                </button>
                <div style="width:85%">
                  <span style="display: inline-block; width: 100px; margin-right: 5px;" hwinfDeviceStatusLabelClass [deviceStatus]="orderItem.Device.Status">{{orderItem.Device.Status.Description}}</span>
                  <span class="device-name">({{orderItem.Device.InvNum}}) {{orderItem.Device.Name}} </span>
                  <ul>
                    <li *ngFor="let accessory of orderItem.Accessories">
                      {{accessory}}
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </td>
          <td>
            <dl>
              <dt>Von:</dt>
              <dd>{{order.From | date:'dd. MMMM yyyy'}}</dd>
              <dt>Bis:</dt>
              <dd>{{order.To | date:'dd. MMMM yyyy'}}</dd>
            </dl>
          </td>
          <td>{{order.OrderReason}}</td>
          <td>
            {{order.Date | date: 'dd. MMMM yyyy'}}
          </td>
        </tr>
        </tbody>
      </table>

      <div class="action">

        <div class="pull-right">
          <a *ngIf="order.OrderStatus.Slug !== 'offen'" href="/print/{{order.OrderGuid}}" target="_blank" title="Vertrag drucken" class="btn btn-default btn-xs">
            <i class="fa fa-print" aria-hidden="true"></i> Vertrag drucken
          </a>
         
          <a href="mailto:{{order.Entleiher.Email}}" title="E-Mail senden" class="btn btn-default btn-xs">
            <i class="fa fa-envelope-o" aria-hidden="true"></i> E-Mail senden
          </a>
          
        </div>
        <div class="pull-left">
          <hwinf-confirm-button *ngIf="order.OrderStatus.Slug === 'offen'"
                                (action)="onAccept()"
                                popOverTitle="Antrag akzeptieren?"
          >
            <button [disabled]="!canAccept()" [title]="(canAccept()) ? 'Antrag akzeptieren' : 'Der Antrag kann nicht ohne Geräte akzeptiert werden.'" class="btn btn-success btn-xs">
              Antrag akzeptieren
            </button>
          </hwinf-confirm-button>
          <hwinf-confirm-button *ngIf="order.OrderStatus.Slug === 'akzeptiert'"
                                (action)="onLend()"
                                [popOverTitle]="'Geräte übergeben?'">
            <button [title]="'Geräte übergeben'" class="btn btn-info btn-xs">
              Geräte übergeben
            </button>
          </hwinf-confirm-button>

          <hwinf-confirm-button *ngIf="order.OrderStatus.Slug === 'offen'"
                                (action)="onDecline()"
                                popOverTitle="Antrag ablehnen?">
            <button title="Antrag ablehnen" class="btn btn-danger btn-xs">
              Antrag ablehnen
            </button>
          </hwinf-confirm-button>

            <!--<a class="btn btn-default btn-xs" title="Schaden melden">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Schaden vermerken
            </a>-->
            <a *ngIf="['abgeschlossen', 'ausgeliehen'].indexOf(order.OrderStatus.Slug) >= 0" href="/print/return/{{order.OrderGuid}}" target="_blank" title="Rückgabebestätigung drucken" class="btn btn-default btn-xs">
                <i class="fa fa-print" aria-hidden="true"></i> Rückgabebestätigung drucken
            </a>

          <hwinf-confirm-button *ngIf="order.OrderStatus.Slug === 'ausgeliehen'"
                                (action)="onReturn()"
                                popOverTitle="Ausleihung beenden?">
            <button title="Ausleihung beenden" class="btn btn-success btn-xs">
              Ausleihung beenden
            </button>
          </hwinf-confirm-button>
            
        </div>
    </div>
    </div>
  </div>
</div>
