<div class="x_panel">
  <div class="x_title">
    <span style="float:right" hwinfOrderStatusLabelClass [orderStatus]="order.OrderStatus">{{order.OrderStatus.Name}}</span> ID: {{order.OrderId}}
    <div class="clearfix"></div>
  </div>
  <div class="x_content">

    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
          <th>Entleiher</th>
          <th>Geräte</th>
          <th>Dauer</th>
          <th>Grund</th>
          <th>Anfragedatum</th>
          <th>Aktion</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <a href="mailto:{{order.Entleiher.Email}}">
              {{order.Entleiher.Name}} {{order.Entleiher.LastName}} ({{order.Entleiher.Uid}})
            </a>
          </td>
          <td>
            <ul class="list-unstyled">
              <li *ngFor="let orderItem of order.OrderItems; let i = index">
                <input style="display: none" type="checkbox" id="{{order.OrderId}}-{{i}}" />
                <label htmlFor="{{order.OrderId}}-{{i}}">
                  {{orderItem.Device.Name}} ({{orderItem.Device.InvNum}})
                </label>
                <span hwinfDeviceStatusLabelClass [deviceStatus]="orderItem.Device.Status">{{orderItem.Device.Status.Description}}</span>
              </li>
            </ul>
          </td>
          <td>
            <dl>
              <dt>Von:</dt>
              <dd>{{order.From | date:'dd. MMMM yyyy'}}</dd>
              <dt>Bis:</dt>
              <dd>{{order.To | date:'dd. MMMM yyyy'}}</dd>
            </dl>
          </td>
          <td>{{order.OrderReason}}</td>
          <td>
            {{order.Date | date: 'dd. MMMM yyyy'}}
          </td>
          <td>

            <hwinf-confirm-button *ngIf="order.OrderStatus.Slug === 'offen'"
                                  (action)="onAccept()"
                                  class="btn-block"
                                  popOverTitle="Antrag akzeptieren?">
              <button title="Antrag akzeptieren" class="btn btn-success btn-xs btn-block">
                Antrag akzeptieren
              </button>
            </hwinf-confirm-button>

            <hwinf-confirm-button *ngIf="order.OrderStatus.Slug === 'akzeptiert'"
                                  (action)="onLend()"
                                  class="btn-block"
                                  [popOverTitle]="'Geräte übergeben?'">
              <button [title]="'Geräte übergeben'" class="btn btn-info btn-xs btn-block">
                Geräte übergeben
              </button>
            </hwinf-confirm-button>

            <hwinf-confirm-button *ngIf="order.OrderStatus.Slug === 'offen'"
                                  (action)="onDecline()"
                                  class="btn-block"
                                  popOverTitle="Antrag ablehnen?">
              <button title="Antrag ablehnen" class="btn btn-danger btn-xs btn-block">
                Antrag ablehnen
              </button>
            </hwinf-confirm-button>

            <hwinf-confirm-button *ngIf="order.OrderStatus.Slug === 'ausgeliehen'"
                                  (action)="onReturn()"
                                  class="btn-block"
                                  popOverTitle="Ausleihung beenden?">
              <button title="Antrag resetten" class="btn btn-success btn-xs btn-block">
                Ausleihung beenden
              </button>
            </hwinf-confirm-button>
            <!-- *ngIf="['akzeptiert', 'abgelehnt'].indexOf(order.OrderStatus.Slug) >= 0" -->
            <hwinf-confirm-button
                    (action)="onReset()"
                    class="btn-block"
                    popOverTitle="Antrag resetten?">
              <button title="Antrag resetten" class="btn btn-warning btn-xs btn-block">
                Antrag resetten
              </button>
            </hwinf-confirm-button>

            <div class="row gutter-5" style="margin-top: 5px">
              <div class="col-xs-6">
                <a href="/print/{{order.OrderGuid}}" target="_blank" title="Vertrag drucken" class="btn btn-default btn-xs btn-block">
                  <i class="fa fa-print" aria-hidden="true"></i>
                </a>
              </div>
              <div class="col-xs-6">
                <a href="mailto:{{order.Entleiher.Email}}" class="btn btn-default btn-xs btn-block"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
