<div class="x_panel">
  <div class="x_title">
    <h2>Zubehör auswählen</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">


      <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-3" *ngFor="let orderItem of order.OrderItems; let i = index">
              <div class="panel panel-default" >
                  <!-- Default panel contents -->
                  <div class="panel-heading">{{orderItem.Device.Name}} <span *ngIf="orderItem.Device.Quantity > 1">x{{orderItem.Device.Quantity}}</span></div>
                  <div>{{orderItem.Device.Notiz}}</div>
                  <!-- List group -->
                  <ul class="list-group">
                      <li class="list-group-item" *ngFor="let accessory of accessories | async">
                          <label>
                              <input type="checkbox" name="value" (change)="onChange($event, i)" [value]="accessory.Name">
                              {{accessory.Name}}
                          </label>
                      </li>
                  </ul>
              </div>
          </div>
      </div>



  </div>
</div>

<nav style="display: flex; justify-content: space-between">
  <a (click)="onBack()" class="btn btn-default">Zurück zu den Details</a>
    <div>
        <button (click)="onContinue()" type="submit" class="btn btn-success">Weiter</button>
    </div>
  
</nav>