<div class="x_panel">
  <div class="x_title">
    <h2>Zubehör auswählen</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
      <div *ngFor="let orderItem of order.OrderItems; let i = index">
        {{orderItem.Device.Name}}
          <div class="checkbox" *ngFor="let accessory of getAccessoriesOfOrderItem(orderItem)">
              <label>
                <input type="checkbox" name="value" ngModel>
                {{accessory}}
              </label>
          </div>
      </div>

    <button (click)="onChange(f)">test</button>
  </div>
</div>

<nav style="display: flex; justify-content: space-between">
  <a (click)="onBack()" class="btn btn-warning">Zurück zu den Details</a>
    <div>
        <button (click)="onContinue()" type="submit" class="btn btn-success">Weiter</button>
    </div>
  
</nav>