<h1>Settings</h1>
<div class="x_panel">
    <div class="x_title">
        <h2>Settings</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form class="" #f="ngForm">
            <div class="row gutter-10">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="optionsSS">
                            Sommersemester Anfang
                        </label>
                        <div name="parent">
                            <input class="form-control" type="text" name="optionsSSstart" ngControl="ssStart.Value" [(ngModel)]="ssStart.Value" required value="{{ssStart.Value}}" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="optionsWS">
                            Sommersemester Ende
                        </label>
                        <div name="parent">
                            <input class="form-control" type="text" name="optionsSSend" ngControl="ssEnd.Value" [(ngModel)]="ssEnd.Value" required  value="{{ssEnd.Value}}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gutter-10">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="optionsSS">
                            Wintersemester Anfang
                        </label>
                        <div name="parent">
                            <input class="form-control" type="text" name="optionsWSstart"  ngControl="wsStart.Value" [(ngModel)]="wsStart.Value" required value="{{wsStart.Value}}" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="optionsWS">
                            Wintersemester Ende
                        </label>
                        <div name="parent">
                            <input class="form-control" type="text" name="optionsWS" ngControl="wsEnd.Value" [(ngModel)]="wsEnd.Value" required value="{{wsEnd.Value}}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <label for="new_order">
                    Neuer Auftrag - Vorlage
                </label>
                <div>
                    <textarea class="form-control" id="new_order" ngControl="newOrder.Value" [(ngModel)]="newOrder.Value" name="new_order" rows="5"></textarea>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="row gutter-10">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="accept_above">
                            Angenommener Auftrag - Vorlage (oben) <span class="required">*</span>
                        </label>
                        <div>
                            <textarea class="form-control" id="accept_above" ngControl="mailAccept_above.Value" [(ngModel)]="mailAccept_above.Value" name="mail_accept_above" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="accept_below">
                            Angenommener Auftrag - Vorlage (unten) <span class="required">*</span>
                        </label>
                        <div>
                            <textarea class="form-control" id="accept_below" ngControl="mailAccept_below.Value" [(ngModel)]="mailAccept_below.Value" name="mail_accept_below" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="row gutter-10">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="decline_above">
                            Abgelehnter Auftrag - Vorlage (oben)  <span class="required">*</span>
                        </label>
                        <div>
                            <textarea class="form-control" id="decline_above" ngControl="mailDecline_above.Value" [(ngModel)]="mailDecline_above.Value" name="mail_decline_above" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="decline_below">
                            Abgelehnter Auftrag - Vorlage (unten)  <span class="required">*</span>
                        </label>
                        <div>
                            <textarea class="form-control" id="decline_below" ngControl="mailDecline_below.Value" [(ngModel)]="mailDecline_below.Value" name="mail_decline_below" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <label for="reminder">
                    Reminder Mail - Vorlage <span class="required">*</span>
                </label>
                <div>
                    <textarea class="form-control" id="reminder" ngControl="mailReminder.Value" [(ngModel)]="mailReminder.Value" name="mail_reminder" rows="5"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="days_before">
                    Reminder Mail - Anzahl der Tage vor der Rückgabe der Geräte <span class="required">*</span>
                </label>
                <div>
                    <input class="form-control" id="days_before" ngControl="daysBefore.Value" [(ngModel)]="daysBefore.Value" name="days_before" type="text">
                </div>
            </div>



            <div class="form-group">
                <label>
                </label>
            </div>
            <div align="right">
                <span class="btn btn-success" (click)="updateSettings()">Speichern</span>
            </div>
        </form>
        <div class="ln_solid"></div>
    </div>
</div>
